SECRET_KEY="n34kzyptqu#b9x4t9a07*egjc1iygv5=g+^2s6c3o1j2slbnb4"

# in production replace the SECRET_KEY by generating a new one like so:
# import random
# "".join([random.choice("abcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*(-_=+)") for i in range(50)])

DEBUG = True

# login providers
#################
# SOCIAL_AUTH_TWITTER_KEY = "..."
# SOCIAL_AUTH_TWITTER_SECRET = "..."
