@import url(http://fonts.googleapis.com/css?family=Armata);
@import url(http://fonts.googleapis.com/css?family=Abel);

body {
	font-family: 'Armata', sans-serif;
}

h1 {
	font-family: 'Abel', sans-serif;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 20px;
}

.navbar-newtask form {
	padding-top: 3px;
	padding-left: 100px;
}
.navbar-newtask input {
	height: auto;
	padding: 3px 6px;
	font-size: 12px;
}
.navbar-newtask .btn {
	height: 26px;
}

@media (min-width: 768px) {
	#new-task > div {
		padding-right: 0;
	}
}
#new-task .twitter-typeahead {
	width: 100%;
}
.tt-dropdown-menu {
    background-color: #fff;
    min-width: 250px;
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
}
	.tt-suggestion {
	    padding: 5px;
	}
	.tt-suggestion.tt-cursor {
	    background-color: #eee;
	}

/* TASK LIST */

#incoming-outgoing {
	margin: 0 0 1em 0;
	text-transform: lowercase;
}
	#incoming-outgoing span {
		background-color: #2b669a;
		color: white;
		padding: 3px;
		border-radius: 3px;
	}
	#incoming-outgoing a {
		padding: 3px;
	}

#no_tasks {
	margin: 3em 0;
}

.tasklist-admin-actions {
	margin: 0;
	font-size: 80%;
}
	.tasklist-admin-actions a {
		color: #77B;
	}

#task_list_title {
	margin: 0 0 10px 0;
}

.tasklist-header {
	font-weight: bold;
	background-color: black;
	color: white;
	padding: 5px 0 5px 0;
}

.tasklist-item {
	/* this is a bootstrap row, so don't touch left/right margins */
	padding-top: 8px;
	padding-bottom: 8px;
}
	.tasklist-item:nth-child(odd) {
		background-color: #EEE;
	}
	.tasklist-item:nth-child(even) {
		background-color: #F7F7F7;
	}
	.tasklist-item:hover {
		background-color: #F9F9F9;
	}

	.tasklist-item-animation-placeholder {
		display: none;
	}

	.task-change-state {
		display: none;
		margin-right: 3px;
	}
		.task-change-state:hover { text-decoration: none; }
		#tasklist-group-0 .task-change-state-from-0 { display: inline; }
		#tasklist-group-1 .task-change-state-from-1 { display: inline; }
		#tasklist-group-2 .task-change-state-from-2 { display: inline; }
		#tasklist-group-3 .task-change-state-from-3 { display: inline; }		