@import url(http://fonts.googleapis.com/css?family=Armata);
@import url(http://fonts.googleapis.com/css?family=Abel);

body {
	font-family: 'Armata', sans-serif;
}

h1 {
	font-family: 'Abel', sans-serif;
}

.navbar-newtask form {
	padding-top: 3px;
	padding-left: 100px;
}
.navbar-newtask input {
	height: auto;
	padding: 3px 6px;
	font-size: 12px;
}
.navbar-newtask .btn {
	height: 26px;
}

.tt-dropdown-menu {
    background-color: #fff;
    min-width: 250px;
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
}
	.tt-suggestion {
	    padding: 5px;
	}
	.tt-suggestion.tt-cursor {
	    background-color: #eee;
	}

.tasklist-header {
	font-weight: bold;
}

.tasklist-item {
	/* this is a bootstrap row, so don't touch left/right margins */
	padding-top: 4px;
	padding-bottom: 4px;
}
	.tasklist-item:nth-child(odd) {
		background-color: #EEE;
	}
	.tasklist-item:nth-child(even) {
		background-color: #F7F7F7;
	}
	.tasklist-item:hover {
		background-color: #F9F9F9;
	}

	.tasklist-item-animation-placeholder {
		display: none;
	}

	.task-change-state {
		display: none;
		margin-right: 3px;
	}
		#tasklist-group-0 .task-change-state-from-0 { display: inline; }
		#tasklist-group-1 .task-change-state-from-1 { display: inline; }
		#tasklist-group-2 .task-change-state-from-2 { display: inline; }
		#tasklist-group-3 .task-change-state-from-3 { display: inline; }		