{% extends "base.html" %}

{% block body %}
<div class="container" style="margin-top: -25px; padding-bottom: 50px;">
    <h1 style="margin: 2em 0;">Let&rsquo;s get things done together.</h1>

    <p>Start filling in your new task list by logging in.</p>

    <div style="padding-left: 3px">
	{% for backend, iconclass in login_backends %}
		<a href="{% url "social:begin" backend %}" class="btn btn-{{backend}}" title="login with {{backend}}"><i class="icon-{{iconclass}}"></i> Login</a>
	{% endfor %}
	</div>
</div>
{% endblock %}
