{% extends "base.html" %}

{% block title %}{% if incoming_outgoing %}{{incoming_outgoing}}{% endif %} Tasks -- CoTask.me{% endblock %}

{% block body %}
<div class="container">
	<h2>
		{% if incoming_outgoing == None or incoming_outgoing == "incoming" %}Incoming{% else %}<a href="{{baseurl}}">Incoming</a>{% endif %}
		|
		{% if incoming_outgoing == "outgoing" %}Outgoing{% else %}<a href="{{baseurl}}/outgoing">Outgoing</a>{% endif %}
	</h2>

	<div class="row tasklist-header">
		<div class="col-xs-7">
			Task
		</div>
		<div class="col-xs-3 hidden-xs">
			{% if incoming_outgoing == None or incoming_outgoing == "incoming" %}
				Sent by
			{% else %}
				Assigned to
			{% endif %}
		</div>
		<div class="col-xs-2 hidden-xs">
			Status
		</div>
	</div>

	{% for task in tasks %}
	<div class="row tasklist-item {% if forloop.counter|divisibleby:2 %}even{% endif %}">
		<div class="col-sm-7">
			{{task.title}}
		</div>
		<div class="col-sm-3">
			{% if task.creator != user %}
				{{task.creator}}
			{% else %}
				<i>yourself</i>
			{% endif %}
		</div>
		<div class="col-sm-2">
			{{task.get_state_display}}
			{% for state, verb in task.next_states %}
				<a href="#" onclick="return change_task_state({{task.id}}, {{state}});" class="task-change-state task-change-state-{{state}}" title="{{verb.0}}">
					{{verb.1}}
				</a>
			{% endfor %}
		</div>
	</div>
	{% empty %}
		<p style="margin-top: 1em;">No tasks. Congratulations!</p>
	{% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
	{% comment %}
	function do_rename() {
		var elem = $('h1');
		do_action_with_input("rename", "Rename this task list?", elem.text(), function(new_value) {
				elem.text(new_value);
		});
	}

	function do_change_slug() {
		do_action_with_input("slug", "Change the URL of this task list?",
			"{{tasklist.slug|escapejs}}",
			function(new_value) {
				window.location = "/t/" + new_value;
		});
	}

	function do_action_with_input(action, prompt_text, default_value, callback) {
		var value = prompt(prompt_text, default_value);
		if (!value) return;
		do_action({ action: action, value: value }, action, callback, value);
	}
	{% endcomment %}

	function do_action(post_data, err_title, callback, callback_arg) {
	  	$.ajax(
	  		"/_action",
	  		{
	  			data: post_data,
	  			method: "POST",
	  			success: function(res) {
	  				if (res.status == "ok")
	  					callback(callback_arg);
	  				else
	  					show_modal_error(err_title, res.msg);
	  			},
	  			error: function() {
				  	show_modal_error(err_title, "There was an error, sorry.");
	  			}
	  		});
	}

	function change_task_state(task_id, new_state) {
		do_action({ action: "task-state", task: task_id, state: new_state }, "change state", function() { window.location.reload() });
	}
</script>
{% endblock %}
