<div id="tasklist-item-{{task.id}}" class="row tasklist-item {% if task.was_rejected %}rejected{% endif %}">
	<div class="col-sm-6 col-md-7">
		{{task.title}}
	</div>
	<div class="col-sm-3 sendby_assignedto">
		{% if incoming_outgoing == "incoming" %}
			{% if task.creator == None %}
				{{task.metadata.owner_email}}
			{% elif task.creator != user %}
				{{task.creator}}
			{% else %}
				<i>yourself</i>
			{% endif %}
		{% else %}
			{{task.incoming.title_for_assigned_to}}
		{% endif %}
	</div>
	<div class="col-sm-3 col-md-2 tasklist-item-actions">
		{% for curstate, newstate, verb in task.state_matrix %}
			<a href="#" onclick="return change_task_state({{task.id}}, {{newstate}});" class="task-change-state task-change-state-from-{{curstate}} task-change-state-{{newstate}} glyphicon glyphicon-{{verb.1}}" title="{{verb.0}}"></a>
		{% endfor %}
	</div>
</div>
