{% extends "base.html" %}

{% block title %}{% if incoming_outgoing == "outgoing" %}Outgoing{% endif %} Tasks -- CoTask.me{% endblock %}

{% block body %}
<div class="container">
	{% if singleton_list %}
		{% if admin_list %}
			<p class="tasklist-admin-actions">
				  <a href="#" onclick="return do_rename()">change title</a>
				| <a href="#" onclick="return do_change_slug()">change url</a>
			</p>
		{% endif %}

		<h1 id="task_list_title">{{singleton_list.title}}</h1>
	{% endif %}

	{% if all_lists %}
		<p>
			{% for tasklist in all_lists %}
				{% if not forloop.first %} | {% endif %}
				<a href="{{tasklist.get_absolute_url}}">{{tasklist.title}}</a>
			{% endfor %}
		</p>
	{% endif %}

	{% if user.is_authenticated %}
	{# only a logged in user can see outgoing tasks --- either on his own list or tasks assigned to him on other lists #}
	<div id="incoming-outgoing">
		{% if incoming_outgoing == "incoming" %}<span>Incoming</span>{% else %}<a href="{{baseurl}}">Incoming</a>{% endif %}
		{% if incoming_outgoing == "outgoing" %}<span>Outgoing</span>{% else %}<a href="{{baseurl}}/outgoing">Outgoing</a>{% endif %}
	</div>
	{% endif %}

	{% if can_post_task %}
	<form id="new-task" role="form" class="row" onsubmit="return do_post_task(this, '{{incoming_outgoing|escapejs}}', add_task_callback)">
		<div class="col-sm-12">
			<h3>{% if incoming_outgoing == "incoming" %}Add{% else %}Assign{% endif %} a Task</h3>
		</div>

		{# title #}
		<div class="col-sm-4">
			<div class="form-group">
			  <label for="new-task-title" class="sr-only">Task Name:</label>
			  <input type="text" class="form-control" id="new-task-title" placeholder="Buy some groceries">
			</div>
		</div>

		{# recipient #}
		{% if incoming_outgoing == "outgoing" %}
			{# when I'm looking at my outgoing list, prompt for who the receipient is #}
			<div class="col-sm-3">
				<div class="form-group">
				  <label for="new-task-recipient" class="sr-only">Assign to:</label>
				  <input type="text" class="form-control" id="new-task-recipient" placeholder="Recipient&rsquo;s name">
				</div>
			</div>
		{% elif singleton_list %}
			{# when I'm looking at my or someone else's incoming list, the recipient is the list I'm looking at #}
			<input type="hidden" id="new-task-recipient" value="{{singleton_list.id}}"/>
		{% else %}
			{# if the user has multiple lists and is looking at his all-lists page, ask which list to add to #}
			<div class="col-sm-3">
				<div class="form-group">
				  <label for="new-task-recipient" class="sr-only">Add to:</label>
				  <select class="form-control" id="new-task-recipient">
				  	{% for tasklist in all_lists %}
				  		<option value="{{tasklist.id}}">{{tasklist.title}}</option>
				  	{% endfor %}
				  </select>
				</div>
			</div>
		{% endif %}

		{# assigned by - if user owns multiple lists or we're looking at a task list we don't own #}
		{% if incoming_outgoing == "outgoing" or "admin" not in roles %}
		{% if not user.is_authenticated %}
			<div class="col-sm-3">
				<div class="form-group">
				  <input type="hidden" id="new-task-assigner" value="_not_logged_in"/>
				  <label for="new-task-assigner" class="sr-only">Your email address (optional):</label>
				  <input type="text" class="form-control" id="new-task-assigner-email" placeholder="your email address (optional)">
				</div>
			</div>
		{% elif my_lists|length == 1 %}
			<input type="hidden" id="new-task-assigner" value="{{my_lists.0.id}}"/>
		{% else %}
			<div class="col-sm-3">
				<div class="form-group">
				  <label for="new-task-assigner" class="sr-only">Assigned by:</label>
				  <select class="form-control" id="new-task-assigner">
				  	{% for tasklist in my_lists %}
				  		<option value="{{tasklist.id}}">From: {{tasklist.title}}</option>
				  	{% endfor %}
				  </select>
				</div>
			</div>
		{% endif %}
		{% endif %}

		{# submit #}
		<div class="col-sm-2">
			<div class="form-group"><button type="submit" class="btn btn-success btn-sm">Post Task</button></div>
		</div>
	</form>
	{% endif %}

	<div id="filter-info" {% if no_tasks %}style="display: none"{% endif %}>
	{% if incoming_outgoing == "incoming" %}
		{% if "observe" in roles %}
			{# show nothing #}
		{% else %}
			<p><em>Only tasks you assigned to {{singleton_list.title_for_assigned_to}} are shown here. Tasks assigned by others are hidden.</em></p>
		{% endif %}
	{% else %}
		{% if "admin" in roles %}
			{# show nothing #}
		{% else %}
			<p><em>Only tasks that {{singleton_list.title_for_assigned_to}} assigned to you are shown here. Tasks assigned by {{singleton_list.title_for_assigned_to}} to others are hidden.</em></p>
		{% endif %}
	{% endif %}
	</div>

	<div style="margin: 1em 15px">
	{% for groupid, groupname, tasks in task_groups %}
		<div id="tasklist-group-{{groupid}}" class="tasklist-group" {% if tasks|length == 0 %}style="display: none"{% endif %}>
		<div class="row tasklist-header">
			<div class="col-xs-6 col-md-7">
				{{groupname}}
			</div>
			<div class="col-xs-3 hidden-xs">
				{% if incoming_outgoing == "incoming" %}
					Sent by
				{% else %}
					Assigned to
				{% endif %}
			</div>
			<div class="col-xs-3 col-md-2 hidden-xs">
				Action
			</div>
		</div>

		<div class="tasklist-item-animation-placeholder"></div>

		{% for task in tasks %}
			{% include "task.html" %}
		{% endfor %}
		</div>
	{% endfor %}
	</div>

	{% if no_tasks and "admin" in roles %}
	<p id="no_tasks">
		{% if incoming_outgoing == "incoming" %}
			No tasks have been assigned to you yet. Why not get started by giving yourself something easy to do?
		{% else %}
			You have not assigned any tasks to anyone else yet.
		{% endif %}
	</p>
	{% endif %}
</div>

{% endblock %}

{% block scripts %}
<script>
	$(function() {
		{% if incoming_outgoing == "outgoing" %}
		post_task_typehead_init($('#new-task'));
		{% endif %}
	});

	{% if singleton_list %}
	function do_rename() {
		var elem = $('h1');
		do_action_with_input("rename", "Rename this task list?", elem.text(), function(new_value) {
				elem.text(new_value);
		});
	}

	function do_change_slug() {
		do_action_with_input("slug", "Change the URL of this task list?",
			"{{singleton_list.slug|escapejs}}",
			function(new_value) {
				window.location = "/t/" + new_value;
		});
	}

	function do_action_with_input(action, prompt_text, default_value, callback) {
		var value = prompt(prompt_text, default_value);
		if (!value) return;
		do_action({ slug: "{{singleton_list.slug|escapejs}}", action: action, value: value }, action, callback, value);
	}
	{% endif %}

	function do_action(post_data, err_title, callback, callback_arg) {
	  	$.ajax(
	  		"/_action",
	  		{
	  			data: post_data,
	  			method: "POST",
	  			success: function(res) {
	  				if (res.status == "ok")
	  					callback(callback_arg);
	  				else
	  					show_modal_error(err_title, res.msg);
	  			},
	  			error: function() {
				  	show_modal_error(err_title, "There was an error, sorry.");
	  			}
	  		});
	}

	function change_task_state(task_id, new_state) {
		function on_task_state_changed() {
			// animate this task into its new position
			
			var elem = $('#tasklist-item-' + task_id);
			var old_container = elem.parent(".tasklist-group");
			var new_container = $("#tasklist-group-" + new_state);
			var old_placeholder = old_container.find('.tasklist-item-animation-placeholder');
			var new_placeholder = new_container.find('.tasklist-item-animation-placeholder');

			// create a placeholder for where the task will be inserted
			// to create some empty space in the list
			elem.css({position: 'relative', top: 0});
			new_placeholder.css({ height: elem.outerHeight() });
			if (new_container.is(":visible")) {
				if (new_container.offset().top > $(window).height()) {
					// the placeholder isn't visible anyway, so show it immediately
					new_placeholder.show();
					do_anim();
				} else {
					// gracefully create a spot for the item to land in
					new_placeholder.slideDown(do_anim);
				}

			// ensure the target group is visible --- it's not visible if there are
			// no tasks in that category
			} else if (new_container.index() > old_container.index()) {
				new_placeholder.show();
				new_container.slideDown('fast', do_anim);
			} else {
				new_placeholder.show();
				new_container.show();
				do_anim();
			}

			// begin gracefully changing which action buttons are displayed
			// on the task by fading them out.
			elem.find('.tasklist-item-actions').fadeOut();

			function do_anim() {
				// compute the target location for the task on the page, the location
				// of the placeholder
				var dy = new_placeholder.offset().top - elem.offset().top;
				elem.animate({ top: dy }, function() {
					// before moving the task into the right place in the DOM, show the
					// placeholder in the old list to avoid a jump
					old_placeholder.insertAfter(elem);
					old_placeholder.show();
					old_placeholder.css({ height: elem.outerHeight() });

					// move the task into the div for the target state and reset its
					// positioning so it displays as normal
					elem.insertAfter(new_placeholder);
					elem.css({ position: 'auto', top: 'auto' });

					// get rid of the placeholder there now that the task will fill that space exactly
					new_placeholder.hide();

					// if the old group has no more tasks, fade it out
					if (old_container.find('.tasklist-item').length == 0)
						old_container.slideUp(function() { old_placeholder.hide(); });
					else
						// get rid of the placeholder in the old list gracefully
						old_placeholder.slideUp();

					// finish gracefully changing which action buttons are displayed
					// by fading them in; CSS selectors take care of deciding which
					// are visible
					elem.find('.tasklist-item-actions').fadeIn();
				});
			}

		}

		do_action({ action: "task-state", task: task_id, state: new_state }, "change state", on_task_state_changed);
		return false; // cancel <a> event
	}

	function add_task_callback(res) {
		{% if incoming_outgoing == "outgoing" %}
		if (res.is_self_task) {
			show_modal_error(nav_post_err_title, "You assigned this task to yourself. It appears in your 'Incoming' list.");
			return;
		}
		{% endif %}

		// we're given the HTML to add to the DOM
		var new_node = $(res.task_html);
		new_node.hide()
		var container = $("#tasklist-group-" + res.state);
		container.fadeIn(); // may not be visible if there were no new tasks before
		var placeholder = container.find('.tasklist-item-animation-placeholder');
		new_node.insertAfter(placeholder);
		new_node.slideDown();

		// as soon as we add a task we can hide the "no tasks" paragraph, if it's visible,
		// and show the filter-info paragraph, if it has content.
		$('#no_tasks').hide();
		$('#filter-info').show()
	}
</script>
{% endblock %}
